<body>

<ngb-carousel>
    <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img style="width: 100vw;     height: 610px;" src="../assets/building.jpg" alt="Random first slide" />
        </div>
        <div class="carousel-caption">
            <p><h1 id="p1">"<b>Streamline Operations,</b></h1>
            <p> <b>Elevate Performance</b>"</p>
        </div>
    </ng-template>
    <!-- <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img style="width: 100vw;     height: 610px;" src="../assets/team.jpg" alt="Random second slide" />
        </div>
        <div class="carousel-caption">
            <h3  id="p1"></h3>
            <p>Inspiring leadership innovation. 
              Employee Management System.
              </p>
        </div>
    </ng-template> -->
    <!-- <ng-template ngbSlide>
        <div class="picsum-img-wrapper">
            <img [src]="images[2]" alt="Random third slide" />
        </div>
        <div class="carousel-caption">
            <h3>Third slide label</h3>
            <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
        </div>
    </ng-template> -->
</ngb-carousel>
 
  

        <!-- Skills -->
        <section id="skills" class="section-2 odd highlights image-right counter skills featured">
            <br><br>
                <div class="divMain container">
                    <div class="container c1 text">
                        <h3 class="text"><b>System Architecture</b></h3>
                        <br>
                        <ul class="category" id="t1">
                            <li>Forntend 
                              <ul class="subcategory">
                                <li>Angular</li>
                                
                              </ul>
                            </li>
                            <li>Backend
                              <ul class="subcategory">
                                <li>Java</li>
                                <li>Spring</li>
                              </ul>
                            </li>
                            <li>Database 
                              <ul class="subcategory">
                                <li>MySQL</li>
                              </ul>
                            </li>
                          </ul>
                          
                         
                    </div>
                    <div class=" image">
                        <img src="../assets/technology.jpg" class="fit-image" alt="Fit Image">
                    </div>
                </div>
                <br><br>
        </section>

<section class="about ">
    <br><br>
    <div class="container">
<div class="about-section">
    <h1><b>Company Overview</b></h1>
    <br>
       <h3><p> We offer an Staff Management System that streamlines HR tasks like attendance tracking, performance evaluation, 
      and staff data management. Our user-friendly platform is designed to enhance productivity and support staff growth, helping organizations thrive.</p></h3>
  </div>
  <br><br>
  <h1 style="text-align:center"><b>Meet the Team</b></h1>
  <br><br>
  <div class="row">
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2 style="text-align:center"><b>Kalpita Hire</b></h2>
          <p class="title" style="text-align:center" ><b>CEO & Founder</b></p>
          <p>As the CEO and founder, my vision is to create a workplace where managing your team is not only efficient but empowering.</p>
          <p>kandilkalpita@gmail.com</p>
          <p><button class="button"><b>Contact</b></button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2 style="text-align:center"><b>Mayank Bhoir</b></h2>
          <p class="title" style="text-align:center"><b>Designer</b></p>
          <p>As the designer, my goal is to craft an intuitive experience that makes managing your team effortless and enjoyable.</p>
          <p>mayank@gmail.com</p>
          <p><button class="button"><b>Contact</b></button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2 style="text-align:center"><b>Aryaman Dhengle</b></h2>
          <p class="title" style="text-align:center"><b>Managing Director</b></p>
          <p>As the Managing Director, my focus is on ensuring seamless operations and empowering teams to reach their full potential.</p>
          <p>aryaman@gmail.com</p>
          <p><button class="button"><b>Contact</b></button></p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        
        <div class="container">
          <h2 style="text-align:center"><b>Krishna Prajapati</b></h2>
          <p class="title" style="text-align:center"><b>HR Manager</b></p>
          <p>As the HR Manager, my mission is to create a supportive environment where every staff can thrive.</p>
          <p>krishna@gmail.com</p>
          <p><button class="button"><b>Contact</b></button></p>
        </div>
      </div>
    </div>
  </div>
</div>
<br><br><br><br><br>
</section>

</body>